.heading {
    width: 100%;
    min-height: 75px;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    padding: 10px;
    flex-direction: column;
    background-color: #dcdde1;
    font-size: 22px;
  }
  