<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Task</th>
        <th scope="col">Check</th>
        <th scope="col">DONE /IN PROGRESS</th>
        <th scope="col">Edit</th>
        <th scope="col">DELETE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of arrChild; index as i">
        <td>{{i+1}}</td>
        <td>{{item.name}}</td>
        <td><input class="form-check-input" type="checkbox" [(ngModel)]="item.status"></td>
        <td [innerHTML]="item.status ? 'DONE' : 'IN PROGRESS' "
          [ngStyle]="item.status ? {'color': 'green'} : {'color': 'red'} "></td>
        <td><button class="btn btn-warning" (click)="editTask(i)">Edit</button></td>
        <td><button class="btn btn-danger" [disabled]="!item.status || editStatus"
            (click)="deleteTask(i)">Delete</button></td>
      </tr>

    </tbody>
  </table>
  <ng-container *ngIf="editStatus">
    <form class="row g-3">
      <div class="col-9">
        <input type="text" class="form-control" [(ngModel)]="newtaskName" name="newtaskName">
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-primary mb-3 col-3 w-100" [disabled]="!newtaskName"
          (click)="saveTask()">Save</button>
      </div>
    </form>
  </ng-container>
</div>
